*{
    border: 0px solid black;
    font-family: sans-serif;
    margin: 0px;
}
p{
    font-size: 14px;
    margin: 0px;
    border: 0px;
    padding: 5px;
    text-align: left;
}
header{
    font-size: 30px;
}
img, button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button{
    background-color: #FC9D9A;
    border-radius: 5px;
    border: 1px solid white;
    width: 150px;
    padding: 4px;
}
button:hover{
    background-color: #FE4365;
}
.p1, .p2, .p3, .p4{
    height: 300px;
    display: flex;
    flex-direction: row;
}
.p1 div, .p2 div, .p3 div, .p4 div{
    flex: 1;
}
.p1 .m, .p2 .m, .p3 .m, .p4 .m{
    flex: 0 0 800px;
}
.p1{
    background-color: #83AF9B;
}
.p1 .m{
    display: flex;
    flex-direction: column;
}
.p1 .m div{
    flex: 1;
}
.p1 .m .header{
    display: flex;
    flex-direction: row;
}
.p1 .m .header div{
    flex: 1;
}
.p1 .m .header .headerlinks{
    display: flex;
    flex-direction: row;
}
.p1 .m .header .headerlinks div{
    flex: 1;
    text-align: right;
    font-size: 15px;
    padding-top: 3px;
}
.p1 .m .content{
    flex: 6 1 0%;
    display: flex;
    flex-direction: row;
}
.p1 .m .content div{
    flex: 1; 
}
.p1 .m .content .right img{

    width: 100%;
}
.p2{
    background-color: white;
    
}
.p2 .m{
    display: flex;
    flex-direction: row;
}
.p2 .m div{
    flex: 1;
}
.p2 .m .main{
    flex: 9 0 0%;
    display: flex;
    flex-direction: column;

}
.p2 .m .main .box{
    flex: 0 0 110px;
}
.p2 .m .main div{
    flex: 1;
}
.p2 .m .main .box, .p2 .m .main .boxtext{
    display: flex;
    flex-direction: row;
}
.p2 .m .main .box div, .p2 .m .main .boxtext div{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.p2 .m .main .box img{
    width: 100%;
}

.p2 .m .main .boxtext div p{
    font-size: 12px;
    text-align: center;
}
.p3{
    background-color:  #C8C8A9;
}
.p3 .m{
    display: flex;
    flex-direction: column;
}
.p3 .m div{
    flex: 1;
}
.p3 .m div .quote{
    font-style: italic;
    font-size: 25px;
    font-weight: 300;
}
.p3 .m div .quoteref{
    text-align: right;
}
.p4{
    background-color: white;
}
.p4 .m{
    display:flex;
    flex-direction: column;
}
.p4 .m div{
    flex: 1;
    display:flex;
    flex-direction: row;
}
.p4 .m div div{
    flex: 1;
}
.p4 .m .main{
    flex: 1.5 1 0%;
}
.p4 .m .main .signbox{
    flex: 5 1 0%;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 15px;
    background-color: #F9CDAD;
    display: flex;
    flex-direction: row;
}
.p4 .m .main .signbox div{
    flex: 1;
    display:flex;
    flex-direction: column;
}
.p4 .m .main .signbox div div{
    flex: 1;
    margin:auto;
}
.p4 .m .main .signbox div div p{
    padding: 20px;
}





