*{
    border: 0px solid black;
    font-family: sans-serif;
    margin: 0px;
}
p{
    font-size: 14px;
    margin: 0px;
    border: 0px;
    padding: 5px;
    text-align: left;
}
header{
    font-size: 30px;
}
img, button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button{
    background-color: #FC9D9A;
    border-radius: 5px;
    border: 1px solid white;
    width: 150px;
    padding: 4px;
}
button:hover{
    background-color: #FE4365;
}
.p1, .p2, .p3, .p4{
    display: flex;
    flex-direction: row;
}
.p1 div, .p2 div, .p3 div, .p4 div{
    flex: 1;
}
.p1 .m, .p2 .m, .p3 .m, .p4 .m{
    margin-left: 12vw;
    margin-right: 12vw; 
}
.p1{
    background-color: #83AF9B;
}
.p1 .m{
    display: flex;
    flex-direction: column;
}
.p1 .m div{
    flex: 1;
}
.p1 .m .header{
    display: flex;
    flex-direction: row;
}
.p1 .m .header div{
    flex: 1;
}
.p1 .m .header .headerlinks{
    display: flex;
    flex-direction: row;
}
.p1 .m .header .headerlinks div{
    flex: 1;
    text-align: right;
    font-size: 15px;
    padding-top: 3px;
}
.p1 .m .content{
    flex: 6 1 0%;
    display: flex;
    flex-direction: row;
}
.p1 .m .content div{
    flex: 1; 
}
.p1 .m .content .right img{

    width: 20em;
}
.p2{
    background-color: white; 
}
.p2 .box{
    display: flex;
    flex-direction: row;
    margin-left: 15vw;
    margin-right: 15vw;
    justify-content: center;
    align-items: center;
}
.p2 .box div{
    flex: 1;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    justify-content: center;
    align-items: center;
}
.p2 .box div img{
    width: 100%;
}
.p2 .box div p{
    text-align: center;
}
.p3{
    background-color:  #C8C8A9;
}
.p3 .m{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.p3 .m .quote{
    font-size: 3vw;
    font-style: italic;
    text-align: center;
}
.p3 .m .quoteref{
    text-align: right;
}

.p4{
    background-color: white;
}
.p4 .signbox{
    background-color: #FC9D9A;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.p4 .signbox div{
    flex:1;
    padding: .5vw;
    justify-content: center;
    align-items: center;
}



