*{
    border: 0px solid black;
    font-family: sans-serif;
    margin: 0px;
}
p{
    font-size: 14px;
    margin: 0px;
    border: 0px;
    padding: 5px;
    text-align: left;
}
header{
    font-size: 30px;
}
.p1, .p2, .p3, .p4{
    height: 300px;
    display: flex;
    flex-direction: row;
}
.p1 div, .p2 div, .p3 div, .p4 div{
    flex: 1;
}
.p1 .m, .p2 .m, .p3 .m, .p4 .m{
    flex: 0 0 800px;
}
.p1{
    background-color: aquamarine;
}
.p1 .m{
    display: flex;
    flex-direction: column;
}
.p1 .m div{
    flex: 1;
}
.p1 .m .header{
    display: flex;
    flex-direction: row;
}
.p1 .m .header div{
    flex: 1;
}
.p1 .m .header .headerlinks{
    display: flex;
    flex-direction: row;
}
.p1 .m .header .headerlinks div{
    flex: 1;
    text-align: right;
}
.p1 .m .content{
    flex: 6 1 0%;
    display: flex;
    flex-direction: row;
}
.p1 .m .content div{
    flex: 1; 
}
.p1 .m .content .right img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.p2 .m{
    display: flex;
    flex-direction: row;
}
.p2 .m div{
    flex: 1;
}
.p2 .m .main{
    flex: 7 1 0%;
    display: flex;
    flex-direction: column;
}
.p2 .m .main .box{
    flex: 0 0 80px;
}
.p2 .m .main div{
    flex: 1;
}
.p2 .m .main .box, .p2 .m .main .boxtext{
    display: flex;
    flex-direction: row;
}
.p2 .m .main .box div, .p2 .m .main .boxtext div{
    margin: 5px;
}
.p2 .m .main .box img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 3px solid black;
}
.p3{
    background-color: lightseagreen;
}
.p3 .m{
    display: flex;
    flex-direction: column;
}
.p3 .m div{
    flex: 1;
    margin: auto;
    margin-top: 120px;
}




